.container--dashboard {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.container--main-content {
  margin-top: 50px;
  width: 80vw;
  margin: 50px 66px 20px 0;
}

.container--main-content > .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.internship-create-button {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 44px;
  width: 217px;
  font-family: "Space Grotesk";
  border-radius: 12px;
  background-color: var(--color-purple);
  color: var(--color-snow);
  border: 1px solid var(--color-purple);
  cursor: pointer;
}

/* .container--internship-list > .list-header {
  display: flex;
  padding: 1em; 
  font-size: 0.875em;
  background-color: #f6f5f9;
  border-radius: 20px 20px 0px 0px;
  justify-content: space-between;
}

.title {
  display: flex;
  justify-content: space-between;
  padding: 1em 0.75em;
  margin-left: 1em;
}

.completion {
  display: flex;
  justify-content: space-between;  
  padding: 1em 0.75em;
}

.enrolled {
  display: flex;
  justify-content: space-between;
  padding: 1em 0.75em;
}

.candidates {
  display: flex;
  justify-content: space-between;
  padding: 1em 0.75em;
} */