.container--card {
  display: flex;
  align-items: center;
}


.card-text {
  background-color: var(--color-snow);
  padding: 1em 1em;
  border: 1px solid var(--color-gray-5);
  border-radius: 1em;
  width: 90%;
  margin: 0.5em 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selected-card {
  background-color: var(--color-snow);
  padding: 1em 1em;
  border: 1px solid var(--color-purple);
  border-radius: 1em;
  box-shadow: 0px 24px 34px rgba(0, 0, 0, 0.12);
  width: 100%;
  margin: 0.5em 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
