.container--card {
  display: flex;
  align-items: center;
}

.card, .active-card {
  background-color: var(--color-snow);
  padding: 1em 1em;
  border: 1px solid var(--color-gray-5);
  border-radius: 1em;
  width: 90%;
  margin: 0.5em 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.active-card {
  border: 2px solid var(--color-purple);
}

.card:hover {
  transform: scale(1.05);
}

.card-text, .card-text > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.remove-tick img {
  display: none;
}

.selected-card {
  background-color: var(--color-snow);
  padding: 1em 1em;
  border: 1px solid var(--color-purple);
  border-radius: 1em;
  box-shadow: 0px 24px 34px rgba(0, 0, 0, 0.12);
  width: 100%;
  margin: 0.5em 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
