.container--expand-card {
  display: flex;
  align-items: baseline;
}

.expand-card, .active-expand-card {
  background-color: var(--color-snow);
  padding: 1em 1em;
  border: 1px solid var(--color-gray-5);
  border-radius: 1em;
  width:90%;
  margin: 0.5em 1em;
}

.active-expand-card {
  border: 2px solid var(--color-purple);
}

.expand-card:hover {
  transform: scale(1.05);
}

.expand-card-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-text,
.card-text>div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.remove-tick img {
  display: none;
}

.expand-content {
  margin-top: 1.5em;
}

.add-inner-button {
  border: 1px dashed var(--color-purple);
  border-radius: 1em;
  background-color: transparent;
  color: var(--color-purple);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 98%;
  margin: 0.5em 0.5em;
  padding: 1em 1em;
  cursor: pointer;
}